#barra{
    background: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 20%;
}
.logo{
    float:left;
    padding: 5px;
    margin: 5px;
    width: 35px;
    margin-top: 1%;
}
#titulobarra{
    float:left;
    color: #00E689;
    margin: 3px;
    margin-top: 1%;
}
.start{
    float: left;
    padding: 3px;
    color: black;
    margin: 5px;
}
.workers{
    float: left;
    padding: 3px;
    color: black;
    margin: 5px;
}
.services{
    float: left;
    padding: 3px;
    color: black;
    margin: 5px;
}
.contacts{
    float: left;
    padding: 3px;
    color: black;
    margin: 5px;
}
.principal_buttons {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 20px;
    padding: 5px;
    margin-top: 1%;
}
